<a href="https://colab.research.google.com/github/csanny/DL_NLP_101/blob/main/predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install numpy==1.22.2
!pip install pandas==1.4.4
!pip install NERDA==0.9.6
!pip install torch==1.13.1

import numpy as np
import pandas as pd 
from NERDA.models import NERDA
import torch
import os
from google.colab import drive
import nltk
nltk.download('punkt')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy==1.22.2 in /usr/local/lib/python3.9/dist-packages (1.22.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas==1.4.4 in /usr/local/lib/python3.9/dist-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas==1.4.4) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas==1.4.4) (2022.7.1)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas==1.4.4) (1.22.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas==1.4.4) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: NERDA==0.9.6 in /usr/local/lib/python3.9/dist-packages (0.9.6)
Requirement already satisfied: torch in /usr/local/lib/python3.9/dist-packages (from NERDA==0.9.6) (1.13.1+cu116)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from NERDA==0.9.6) (1.4.4)
Requirement already satisfied: progressbar in /usr/local/lib/python3.9/dist-packages (from NERDA==0.9.6) (2.5)
Requirement already satisfied: pyconll in /usr/local/lib/python3.9/dist-packages (from NERDA==0.9.6) (3.1.0)
Requirement already satisfied: nltk in /usr/local/lib/python3.9/dist-packages (from NERDA==0.9.6) (3.7)
Requirement already satisfied: transformers in /usr/local/lib/python3.9/dist-packages (from NERDA==0.9.6) (4.26.1)
Requirement already satisfied: sklearn in /usr/local/lib/python3.9/dist-packages (from NERDA==0.9.6) (0.0.post1)
Requirement already satisfied: click in /usr/local/lib/python3.9/dist-packages (from nltk->NERDA==0.9.6) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.9/dist-packages (from nltk->NERDA==0.9.6) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.9/dist-packages (from nltk->NERDA==0.9.6) (2022.6.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from nltk->NERDA==0.9.6) (4.65.0)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas->NERDA==0.9.6) (1.22.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->NERDA==0.9.6) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->NERDA==0.9.6) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.9/dist-packages (from torch->NERDA==0.9.6) (4.5.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.9/dist-packages (from transformers->NERDA==0.9.6) (6.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from transformers->NERDA==0.9.6) (3.9.0)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.9/dist-packages (from transformers->NERDA==0.9.6) (0.13.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from transformers->NERDA==0.9.6) (23.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.11.0 in /usr/local/lib/python3.9/dist-packages (from transformers->NERDA==0.9.6) (0.13.1)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from transformers->NERDA==0.9.6) (2.25.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->NERDA==0.9.6) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->transformers->NERDA==0.9.6) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->transformers->NERDA==0.9.6) (1.26.14)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests->transformers->NERDA==0.9.6) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->transformers->NERDA==0.9.6) (2.10)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: torch==1.13.1 in /usr/local/lib/python3.9/dist-packages (1.13.1+cu116)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.9/dist-packages (from torch==1.13.1) (4.5.0)

In [ ]:
drive.mount('/content/drive/')

In [ ]:
model = torch.load('/content/drive/MyDrive/Colab Notebooks/Github/Survice-BERT/model/Survice-BERT_V1_32-32.pt')

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:299: UserWarning: Trying to unpickle estimator LabelEncoder from version 0.24.2 when using version 1.2.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [ ]:
sentence1 = 'During the period 12 January to 15 March 2022, a total of 53 suspected yellow fever cases, including six deaths, have been reported from Isiolo county, central Kenya.'

In [ ]:
predict_result = model.predict_text(sentence1)
pd.DataFrame({'ner':predict_result[1][0] ,'value':predict_result[0][0]})

             ner      value
0              O     During
1              O        the
2              O     period
3     B-DATE_DAY         12
4   B-DATE_MONTH    January
5              O         to
6     B-DATE_DAY         15
7   B-DATE_MONTH      March
8    B-DATE_YEAR       2022
9              O          ,
10             O          a
11             O      total
12             O         of
13        B-CASE         53
14             O  suspected
15     B-DISEASE     yellow
16     I-DISEASE      fever
17             O      cases
18             O          ,
19             O  including
20       B-DEATH        six
21             O     deaths
22             O          ,
23             O       have
24             O       been
25             O   reported
26             O       from
27         B-LOC     Isiolo
28         I-LOC     county
29         I-LOC          ,
30         B-LOC    central
31         I-LOC      Kenya
32             O          .

In [ ]:
sentence2 = 'From 1 November 2022 to 27 January 2023, a total of 559 cases of meningitis (of which 111 are laboratory confirmed), including 18 deaths (overall CFR 3.2%), have been reported from Zinder Region, southeast of Niger, compared to the 231 cases reported during 1 November 2021 to 31 January 2022.'

In [ ]:
predict_result = model.predict_text(sentence2)
pd.DataFrame({'ner':predict_result[1][0] ,'value':predict_result[0][0]})

             ner     value
0              O      From
1     B-DATE_DAY         1
2   B-DATE_MONTH  November
3    B-DATE_YEAR      2022
4              O        to
..           ...       ...
56             O        to
57    B-DATE_DAY        31
58  B-DATE_MONTH   January
59   B-DATE_YEAR      2022
60             O         .

[61 rows x 2 columns]